{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <!-- <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Beranda</a></li>
            <li class="breadcrumb-item"><a href="#">Detail Pengaduan</a></li>
          </ol>
        </nav> -->
    <br>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md">
            <h3>Detail Pengaduan</h3>
            <div class="card card-body">
              <form>
                {% csrf_token %}
                <div class="form-group row">
                  <label for="tglpengaduan" class="col-sm-2 col-form-label">Nama Klien</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="namaclient" value="{{respon.pengaduan.client}}" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="tglpengaduan" class="col-sm-2 col-form-label">Tgl Pengaduan</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="tglpengaduan" value="{{respon.pengaduan.date_created}}" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ktgpengaduan" class="col-sm-2 col-form-label">Kategori Pengaduan</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="ktgpengaduan" value="{{respon.pengaduan.kategori_pengaduan}}" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="keterangan" class="col-sm-2 col-form-label">Keterangan</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="keterangan" value="{{respon.pengaduan.kategori_penanganan}}" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="keterangan" class="col-sm-2 col-form-label">Keluhan User</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="keluhanterakhir" value="{{respon.pengaduan.keluhan}}" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="respon" class="col-sm-2 col-form-label">Respon Admin</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="respon" value="{{respon.respon}}" disabled>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        </div>
        </section>
        </div>

//Query All input fields
<script>
var select_fields = document.getElementsByTagName('select')

var input_fields = document.getElementsByTagName('input')


for (var field in select_fields){
  select_fields[field].className += ' form-control'
}
for (var field in input_fields){
  input_fields[field].className += ' form-control'
}
</script>

{% endblock %}
