{% extends 'web/main.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Beranda</a></li>
          <li class="breadcrumb-item"><a href="#">Akun</a></li>
        </ol>
      </nav>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <!-- <div class="row">
          <div class="col-md">
            <div class="card card-body">
              <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                  <label for="tglpengaduan" class="col-sm-2 col-form-label">Nama Lengkap</label>
                  <p>{{form.nama}}</p>
                </div>
                <div class="form-group row">
                  <label for="ktgpengaduan" class="col-sm-2 col-form-label">Alamat</label>
                  <p>{{form.alamat}}</p>
                </div>
                <div class="form-group row">
                  <label for="telepon" class="col-sm-2 col-form-label">Telepon</label>
                  <p>{{form.no_hp}}</p>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-2 col-form-label">Email</label>
                  <p>{{form.email}}</p>
                </div>
                <div class="form-group row">
                  <label for="pass" class="col-sm-2 col-form-label">Password</label>
                  <p>{{form.password1}}</p>
                </div>
                <input class="btn btn-sm btn-info" type="submit" name="Update Profile" value="Update Profile">
              </form>
            </div>
          </div>
        </div> -->

          <!-- <div class="row">
            <div class="col-md-4">
            <a class="btn btn-sm btn-info" href="">Update Profil</a>
          </div> -->

          <style>
            .profile-pic{
              max-width: 200px;
              max-height:200px;
              margin: 0 auto;
              border-radius: 50%;
            }
          </style>

          <br>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-body">
                <a class="btn btn-primary" href=""> &#8592; Back to Profile</a>
                <hr>
                <h3 style="text-align: center">Profil Akun</h3>
                <hr>
                <img class="profile-pic" src="{{request.user.admin.profile_pic.url}}">

              </div>
            </div>
            <div class="col-md-8">
              <div class="card card-body">

                <form method="POST" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{form.as_p}}
                  <input class="btn btn-primary" type="submit" name="Update Information">
                </form>
              </div>
            </div>
          </div>
        </div>
        </section><!-- /.container-fluid -->




        </div>

//Query All input fields
<script>
var select_fields = document.getElementsByTagName('select')

var input_fields = document.getElementsByTagName('input')


for (var field in select_fields){
  select_fields[field].className += ' form-control'
}
for (var field in input_fields){
  input_fields[field].className += ' form-control'
}
</script>

{% endblock %}
