{% extends 'web/main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <br>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        {% include 'web/status.html' %}
        <div class="row">
          <div class="col">
            <!-- <div class="input-group">
              <form class="form-inline" action="" method="get">
                <span>
                  <input id="filterInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" size="50">
                </span>
              </form>
            </div> -->
            <br>
              <div class="row">
                <div class="col-md">
                  <div class="card card-body">
                    <table class="table table-striped" id="tablebarang">
                      <thead>
                        <tr class="bg-info">
                          <th class="bg-info" data-colname="tglpengaduan" data-order="desc">Tgl Pengaduan</th>
                          <th data-colname="client" data-order="desc">Client</th>
                          <th data-colname="masalah" data-order="desc">Masalah</th>
                          <th data-colname="kategori" data-order="desc">Kategori Penanganan</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for penanganan in stat_online %}
                        <tr>
                          <td>{{penanganan.date_created}}</td>
                          <td>{{penanganan.client.nama}}</td>
                          <td>{{penanganan.masalah.nama}}</td>
                          <td>{{penanganan.status}}</td>
                          <td>
                          <a class="btn btn-sm btn-info" href="{% url 'edit_status' penanganan.id %}">Edit</a>
                          <a class="btn btn-sm btn-success" href="{% url 'det_penanganan' penanganan.id %}">Detail</a></td>
                        </tr>
                        {% endfor %}
                      </tbody>

                    </table>
                  </div>
                </div>
              </div>
            </div>

            </div>
          </div><!-- /.container-fluid -->

        </section>
        </div>

<script type="text/javascript">
  document.getElementById('button').addEventListener('click', function(){
    document.querySelector('.bg-modal').style.display = 'flex';
  });

  document.querySelector('.close').addEventListener('click', function(){
    document.querySelector('.bg-modal').style.display = 'none';
  });
</script>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tablebarang').DataTable();
    } );
</script>

{% endblock %}
