{% load static %}
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info text-center">
          <h3 href="#" class="d-block text-white">AITC SERVICE</h3>
          <!-- <h5 href="#" class="d-block text-white">Halo, {{request.user}}</h5> -->
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          {% if request.user.is_staff %}
          <li class="nav-item has-treeview menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item text-center">
                <a href="{% url 'home' %}" class="nav-link active">
                  <i class="far fa-circle nav-icon">DASHBOARD</i>
                </a>
              </li>
              <br>
              <li class="nav-item text-center">
                <a href="{% url 'pengsel' %}" class="nav-link active">
                  <i class="far fa-circle nav-icon">PENGADUAN SELESAI</i>
                </a>
              </li>
              <br>
              <li class="nav-item text-center">
                <a href="{% url 'akun' %}" class="nav-link active">
                  <i class="far fa-circle nav-icon">AKUN</i>
                </a>
              </li>
              <br>
              {% endif %}
              <li class="nav-item text-center">
                <a href="{% url 'logout' %}" class="nav-link active">
                  <i class="far fa-circle nav-icon">LOGOUT</i>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
